*{
	padding:0px;
	margin:0;
	list-style:none;
	text-decoration:none;
	box-sizing: border-box;

}
.clearfix:before{
	display:block;
	content:'';
}
.clearfix:after{
	display:block;
	content:'';
}
.top{
	height:150px;
	width:100%;
	background:#ccc;
}
.cart{
	width:1000px;
	margin:0 auto;
}
.cart-top{
	padding-top:50px;
}
.cart-top p{
	padding-left:22px;
	height:25px;
	background:url(../images/p.png) no-repeat -525px 330px;
	font-size:20px;
	color:#555;
	margin-left:14px;
	line-height:27px;
	float:left;
}
.cart-top a{
	font-size:14px;
	padding-top:10px;
	color:#641131;
	float:right;
 

}
.cart .cart-middle{
	margin-top:44px;


}
.cart-middle .carthead{
	height: 50px;
	line-height:50px;
	padding-left:14px;
	padd
	border:1px solid #ccc;
	background:#f1f1f1;
	color:#999;


}
.carthead .cart-select{
	width:240px;
	background:red;
	height:100%;
	 
 
	/*margin-top:50px;*/
	float:left;
}
.card-good{
	float:left;
}
.card-good span{
	font-size:14px;

}
.card-good span.sp{
	width:150px;
	display:block;
}
.card-good span.gg{
	width:70px;
	display:block;
}
.card-good span.danjia{
	width:100px;
	display:block;
}
.card-good span.slsl{
	width:90px;
	display:block;
}
.card-good span.yuanjia{
	width:140px;
	display:block;
}
.card-good span.cz{
	width:60px;
	display:block;
}
 
 .cart-middle .cartorder{
 	border:1px solid #ccc;
 	border-top:none;
 	border-bottom:none;
 }
 .zong{
 	height:130px;
 	width:100%;
 	border-bottom:1px solid #ccc;
 	box-sizing: border-box;
 }
 .zong .order-img{
 	width:110px;
 	height:110px;
 	background:red;
 	float:left;
 	vertical-align: middle;
 }
 .order-img a{
 	display:block;
 	float:left;
 	width:100%;
 	height:100%;
 }
 .zong img{
 	/*margin-left:50px;*/
 	/*box-sizing: border-box;*/
 	width:100%;
 	height:100%;
 }
/*   .zong div{
 	float:left;
 } */ 
 .zong .order-sp{
 	width:260px;
 	float:left;

 }
 .zong p{
 	margin:15px 0px 0px 35px;
  	font-size:14px;
  }
  .zong .order-gg p{
  	padding-left:0px;
  }
.zong  .teshu{
	color:#64a131;
	font-size:14px;
	font-weight:bold;
 	float:left;
}
.zong .order-num{
 	float:left;

}
.zong .order-sprice{
	width:168px;

}
.zong .order-gg{
	width:62px;
 	float:left;

}
.zong .order-yuanjia{
	width:120px;
 	float:left;


}
/*  .zong .order-caosuo p{
	width:60px;
	float:left;
	padding-top:15px;

}  */

